<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.didong.mapper.TbVideoMapper">
    <sql id="Base_Column_List">
        vedio_id, user_id, url,vedio_desc, longitude, latitude,address_name,four_fps,one_fps,del_flag,upload_time,title
    </sql>

    <select id="selectPageVideos" parameterType="com.didong.entity.TbVideo" resultType="com.didong.entity.TbVideo">
      select
      <include refid="Base_Column_List"/>
      from tb_video
    </select>

</mapper>