<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.didong.mapper.TbVideoMapper">
    <sql id="Base_Column_List">
        id,video_id, user_id, video_url,video_title,video_desc, longitude, latitude,address_name,
        four_fps,one_fps,del_flag,upload_time,create_time,last_update_time
    </sql>

    <select id="selectPageVideos" parameterType="com.didong.serviceEntity.TbVideo"
            resultType="com.didong.serviceEntity.TbVideo">
        select
        <include refid="Base_Column_List"/>
        from tb_video
    </select>

    <select id="selectAllByPageAndCondition" parameterType="com.didong.serviceEntity.TbVideo"
            resultType="com.didong.serviceEntity.TbVideo">
        select
        <include refid="Base_Column_List"/>
        from tb_video
        <!--where-->
        <!--<if test="userId != null ">-->
        <!--user_id=#{userId}-->
        <!--</if>-->
        <!--<if test="videoId!= null a    nd videoId != '' ">-->
        <!--and videoId=#{videoId}-->
        <!--</if>-->

    </select>

    <select id="selectByVideoInfoDTO" parameterType="com.didong.dto.VideoInfoDTO"
            resultType="com.didong.dto.VideoInfoDTO">
        select
        a.user_id,a.video_title,a.video_id,a.video_url,a.one_fps,a.upload_time,
        b.machine_chk_status,b.person_chk_status,b.video_up_down_status upDownStatus
        from tb_video a,tb_video_chk b
        <where>
            a.del_flag= 0
            AND b.video_id=a.video_id
            <if test="infoDto.userId != null ">
                AND a.user_id = #{infoDto.userId}
            </if>
            <if test="infoDto.startTime != null ">
                AND a.upload_time &gt;= #{infoDto.startTime}
            </if>
            <if test="infoDto.endTime != null ">
                AND a.upload_time &lt;= #{infoDto.endTime}
            </if>
            ORDER BY a.create_time DESC
        </where>
    </select>

</mapper>